<!-- Javascript Files
  ================================================== -->

  <!-- initialize jQuery Library -->
  <script src="{{ site.baseurl }}/assets/plugins/jQuery/jquery.min.js"></script>
  <!-- Bootstrap jQuery -->
  <script src="{{ site.baseurl }}/assets/plugins/bootstrap/bootstrap.min.js" defer></script>
  <!-- Slick Carousel -->
  <script src="{{ site.baseurl }}/assets/plugins/slick/slick.min.js"></script>
  <script src="{{ site.baseurl }}/assets/plugins/slick/slick-animation.min.js"></script>
  <!-- Color box -->
  <script src="{{ site.baseurl }}/assets/plugins/colorbox/jquery.colorbox.js"></script>
  <!-- shuffle -->
  <script src="{{ site.baseurl }}/assets/plugins/shuffle/shuffle.min.js" defer></script>


  <!-- Google Map API Key-->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&callback=initMap"></script>
  <!-- Google Map Plugin-->
  <script src="{{ site.baseurl }}/assets/plugins/google-map/map.js" defer></script>

  <!-- Template custom -->
  <script src="{{ site.baseurl }}/assets/js/script.js"></script>