// Colors
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Brand colors
$brand-color: #ffb600;
$text-color: #555;
$background-color: #fff;
$link-color: $brand-color;

// Header colors
$header-bg: #000;
$header-text-color: #fff;
$accent-color: $brand-color;

// Footer colors
$footer-bg: #000;
$footer-text-color: #fff;
$footer-title-color: $brand-color;

// Form colors
$form-bg: rgba(255, 255, 255, 0.1);
$form-text-color: #fff;
$form-placeholder-color: rgba(255, 255, 255, 0.7);
$button-text-color: #000;

// Typography
$base-font-family: "Open Sans", sans-serif;
$heading-font-family: "Montserrat", sans-serif;
$base-font-size: 15px;
$base-line-height: 1.5;
