// Colors
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Brand colors
$brand-color: #ffb600;
$text-color: #555;
$background-color: #fff;
$link-color: $brand-color;

// Typography
$base-font-family: "Open Sans", sans-serif;
$heading-font-family: "Montserrat", sans-serif;
$base-font-size: 15px;
$base-line-height: 1.5;
