<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<!--
THEME: Constra - Construction Html5 Template
VERSION: 1.0.0
AUTHOR: Themefisher

HOMEPAGE: https://themefisher.com/products/constra-construction-template/
DEMO: https://demo.themefisher.com/constra/
GITHUB: https://github.com/themefisher/Constra-Bootstrap-Construction-Template

WEBSITE: https://themefisher.com
TWITTER: https://twitter.com/themefisher
FACEBOOK: https://www.facebook.com/themefisher
-->

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <!-- jQuery first -->
    <script src="{{ site.baseurl }}/assets/plugins/jQuery/jquery.min.js"></script>
    <!-- then slick -->
    <script src="{{ site.baseurl }}/assets/plugins/slick/slick.min.js"></script>
    <!-- then slick-animation -->
    <script src="{{ site.baseurl }}/assets/plugins/slick/slick-animation.min.js"></script>
    <!-- then custom scripts -->
    <script src="{{ site.baseurl }}/assets/js/script.js"></script>
    <script src="{{ site.baseurl }}/assets/js/map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&callback=initMap"></script>
  </body>

</html>